.TrafficTop{
    text-align: center;
    width: 30px;
    height: 250px;
    background-color: black;
    margin-left: 710px;
    margin-top: 40px;
}

.BigBox{
    text-align:center;
    width: 250px;
    height:660px;
    background-color:black;
    margin-left: 600px;
    padding-top: 5px;
    margin-bottom: 50px;
}

.light{
    width: 200px;
    height:200px;
    border:2px;
    border-radius: 50%;
    margin:auto;
    margin-top:10px;
    cursor: pointer;
}

.red 
{background-color: red;}
.yellow
{background-color: yellow;}
.green
{background-color: greenyellow;}

/*.selected 
{box-shadow: #f8ffcf 0px 0px 50px 20px;}
    
    
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
